In [3]:
CREATE TABLE MovieDetails (
    Sno INTEGER,
    MovieName TEXT,
    DirectorName TEXT,
    Duration INTEGER,
    Genre TEXT,
    Ratings REAL
);
-- Insert data into Table 1 from CSV file
.mode csv
.import imdb_director_details.csv MovieDetails

-- Create Table 2: MovieInfo
CREATE TABLE MovieInfo (
    MovieName TEXT,
    Stars TEXT,
    Votes INTEGER,
    Genre TEXT,
    GrossCollection TEXT,
    Popularity TEXT,
    Certification TEXT
);

-- Insert data into Table 2 from CSV file
.mode csv
.import imdb_movie_details.csv MovieInfo

#Display all the details of movies created by directors Christopher and Matt Reeves.
SELECT *
FROM MovieDetails
WHERE DirectorName IN ('Christopher', 'Matt Reeves');
#Display all the details of movies with a duration of 140 minutes to 190 minutes.
SELECT *
FROM MovieDetails
WHERE Duration BETWEEN 140 AND 190;
#Display all details of movies with ratings above 7 in ascending order.
SELECT *
FROM MovieDetails
WHERE Ratings > 7
ORDER BY Ratings ASC;
#Display all movie names in descending order.
SELECT MovieName
FROM MovieDetails
ORDER BY MovieName DESC;
#Display movie names that start with 'P' and have a rating greater than 7.
SELECT *
FROM MovieDetails
WHERE MovieName LIKE 'P%' AND Ratings > 7;

#For Table 2:
Display all movie names with star Arnold Schwarzenegger in ascending order.
SELECT MovieName
FROM MovieInfo
WHERE Stars LIKE '%Arnold Schwarzenegger%'
ORDER BY MovieName ASC;
#Display all details of the movie with the highest number of votes.
SELECT *
FROM MovieInfo
WHERE Votes = (SELECT MAX(Votes) FROM MovieInfo);
#Display movie names with gross collections in descending order.
SELECT MovieName
FROM MovieInfo
ORDER BY GrossCollection DESC;
#Display the gross collection of movies with the star Arnold.
SELECT MovieName, GrossCollection
FROM MovieInfo
WHERE Stars LIKE '%Arnold%';
#Display all details of movies with comedy and action genres.
SELECT *
FROM MovieInfo
WHERE Genre LIKE '%Comedy%' AND Genre LIKE '%Action%';

#For subqueries:

Display all details from both tables where movie names are the same.
SELECT *
FROM MovieDetails
JOIN MovieInfo ON MovieDetails.MovieName = MovieInfo.MovieName;
#Display all movie names, director, ratings, and gross collection where the genre is action.
SELECT MovieDetails.MovieName, MovieDetails.DirectorName, MovieDetails.Ratings, MovieInfo.GrossCollection
FROM MovieDetails
JOIN MovieInfo ON MovieDetails.MovieName = MovieInfo.MovieName
WHERE MovieInfo.Genre LIKE '%Action%';
#Display all details from both tables with the highest gross collection.
SELECT *
FROM MovieDetails
JOIN MovieInfo ON MovieDetails.MovieName = MovieInfo.MovieName
WHERE MovieInfo.GrossCollection = (SELECT MAX(GrossCollection) FROM MovieInfo);
#Display all details from both tables with the highest ratings.
SELECT *
FROM MovieDetails
JOIN MovieInfo ON MovieDetails.MovieName = MovieInfo.MovieName
WHERE MovieDetails.Ratings = (SELECT MAX(Ratings) FROM MovieDetails);
#Display all details from both tables with the lowest gross collection and lowest ratings.
SELECT *
FROM MovieDetails
JOIN MovieInfo ON MovieDetails.MovieName = MovieInfo.MovieName
WHERE MovieInfo.GrossCollection = (SELECT MIN(GrossCollection) FROM MovieInfo)
  AND MovieDetails.Ratings = (SELECT MIN(Ratings) FROM MovieDetails);

SyntaxError: invalid syntax (<ipython-input-3-835a91ca780f>, line 1)